@using StudentDormitoryApp.Domain.DomainModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentDormitoryApp.Domain.DTO.RegisterReferentUser;

<form method="post" asp-action="RegisterReferentUser" asp-controller="Admin">
    <h2>Регистрирај референт</h2>
    <hr />
    <div class="form-floating mb-3">
        <input type="text" asp-for="FirstName" class="form-control" aria-required="true" placeholder="Јана" />
        <label asp-for="FirstName" class="form-label">Име</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" asp-for="LastName" class="form-control" aria-required="true" placeholder="Јанева" />
        <label asp-for="LastName" class="form-label">Презиме</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="email" asp-for="Email" class="form-control" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Email" class="form-label">Е-маил адреса</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" asp-for="Address" class="form-control" aria-required="true" placeholder="Кочани" />
        <label asp-for="Address" class="form-label">Адреса</label>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        @* <label asp-for="StudentDormitoryId" class="form-label">Студентски дом</label> *@
        <select asp-for="StudentDormitoryId" class="form-control" asp-items="@(ViewData["StudentDormitoryId"] as SelectList)">
            <option value="">Студентски дом</option>
        </select>
        <span asp-validation-for="StudentDormitoryId" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Регистрирај</button>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["Message"]
    </div>
}