@{
    ViewData["Title"] = "Успешно плаќање";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="max-width:640px;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Плаќањето е успешно!</h4>
        <p>Плаќањето е успешно. Ти благодариме за плаќањето.</p>
        <hr>
        <p class="mb-0">Потврда за успешно аплицирање и копија од апликацијата е испратена по маил.</p>
    </div>

    <a asp-controller="StudentDormitories" asp-action="Index" class="btn btn-brand">Кон студентски домови</a>
</div>
